name: Merge Red Hat Runbooks

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Merging Runbooks
        id: redhat_runbooks
        run: bash ./scripts/merge-runbooks.sh

      - name: Commit and Push Changes
        run: |
          date=$(date +%Y%m%d)

          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "$date"
          git tag $date
          git push
          git push origin --tags
